@media screen and (max-width:770px) {
    .navbar{
        width: 90%;
    }
    .logo h2 a{
        font-size: 20px;
    }

    section{
        padding: 40px 0;
    }

    #menu_bar{
        display: grid;
        color: white;
        position: absolute;
        right: 5%;
        top: 20%;
        border: 1px solid white;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: pointer; 
    }

    .nav_links{
        flex-direction: column;
        position: absolute;
        background: #2c2525;
        width: 100%;
        left: 0;
        padding: 0;
    }

    .nav_links li a{
        border-bottom: 1px solid white;
        display: block;
        border-radius: 0;
        padding: 10px 0px;
        margin: 0px 20px;
    }

    .nav_links li:last-child a{
        border-bottom: none;
    }

    .inner_anasayfa{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .child_anasayfa h1{
        font-size: 30px;
        line-height: 35px;
    }
    .child_anasayfa p{
        font-size: 20px;
    }
    .child_anasayfa img{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .innersoftware{
        flex-direction: column;
    }

    .innersoftware_child{
        margin-bottom: 20px;
    }

    .child_courses{
        flex-basis: 48%;
        margin-bottom: 20px;
    }

    .child_achivement2{
        flex-basis: 95%;
    }

    .child_achivement{
        flex-basis: 98%;
        margin-bottom: 20px;
    }
    .child_firma{
        flex-basis: 98%;
    }
    .iletisim_child{
        flex-basis: 98%;
        margin-bottom: 20px;
    }
}