/* https://gitlab.com/fr0stb1rd/fbbw-0001 */

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    cursor: default;
}


img{
    width: 100%;

}

section{
    padding: 100px 0;
    background: #122e44;
}

.section_title{
    margin-bottom: 30px;
}

.section_title h2{
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
    transition: all .2s ease;
}
.section_title h2:hover{
    background-color: #b80388;
}

/* header */

header{
    background: rgb(44, 37, 37);
    border-bottom: 1px solid rgba(238, 238, 238, 0.001);
    position: fixed;
    width: 100%;
    z-index: 5;
}

#menu_bar{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0px;
}

.nav_links{
    display: flex;
}

.nav_links li a{
    margin-left: 15px;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .2s ease;
}

.nav_links li a:hover{
    background: #122e44;
}

.logo h2 a{
    /* margin-left: 15px; */
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .2s ease;
}

.logo h2 a:hover{
    background: #122e44;
}

/* anasayfa */


.inner_anasayfa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: white;
}

.child_anasayfa{
    flex-basis: 45%;
}

.child_anasayfa h1{
    font-size: 50px;
    color: #24caac;
}

.span_child{
    color: #b80388;
}

.child_anasayfa p{
    font-size: 25px;
    margin-bottom: 12px;
}

.btn{
    background-color: #24caac;
    padding: 12px 18px;
    border-radius: 10px;
    color: black;
    border: 1px solid #24caac;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease;
}

.btn:hover{
    background-color: transparent;
    letter-spacing: 1px;
    color: #b80388;
}


/* yazılımlar */



.innersoftware{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    color: white;
}

.innersoftware_child{
    flex-basis: 32%;
    color: white;
    width: 100%;
    padding: 25px 20px;
    background: rgba(55, 66, 80, 0.281);
    border-radius: 5px;
    border: 1px solid transparent;
    align-items: center;
    transition: all .2s ease;

}

.innersoftware_child:hover{
    border: 1px solid #b80388;
}

.innersoftware_child .icon{
    font-size: 25px;
    color: #24caac;
}

.innersoftware_child h3{
    font-size: 20px;
    margin: 5px 0px;
}

.innersoftware_child p{
    font-size: 15px;
}

/* sertifikalarim */

.inner_courses{
    display: flex;
    flex-wrap: wrap; /* responsive icin */
    justify-content: space-between;
    align-items: center;
    width: 80%; /* sayfanin yuzde kacinda olsun sol ve sag */
    margin: 0 auto;
}

.child_courses{
    flex-basis: 24%;
    color: white;
    padding: 20px 10px;
    border-radius: 5px;
    background: rgba(55, 66, 80, 0.281);
    border: 1px solid transparent;
    transition: all .2s ease;
}

.child_courses:hover{
    border: 1px solid #b80388;
}

.child_courses .detail{
    display: flex;
    justify-content: space-between;
}

.child_courses .detail ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.child_courses .detail ul li{
    color: gold;
}

/* basarilar */

.inner_achivement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto;
}

.child_achivement{
    flex-basis: 40%;
}

.child_achivement img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.child_achivement2{
    flex-basis: 46%;
    display: flex; /* yan yana diz */
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    color: white;
}

.single_detail{
    flex-basis: 48%;
    padding: 40px 30px;
    color: white;
    border-radius: 5px;
    transition: all .2s ease;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.single_detail:hover{
    transform: scale(1.05);
    border: 1px solid #b80388;
}

.sd1{
    background: #6c4708;
}

.sd2{
    background: #4a1b2b;
}

.sd3{
    background: #08562c;
}

.sd4{
    background: #2f363e;
}


/* firmalar */

.firmalar_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto;
}

.child_firma{
    flex-basis: 48%;
    padding: 40px 30px;
    color: white;
    border-radius: 5px;
    transition: all .2s ease;
    border: 1px solid transparent;
    margin-bottom: 30px;
}

.child_firma:hover{
    border: 1px solid #b80388;
}

.firma_img{
    width: 80px;
    margin-bottom: 10px;
}

.firma_img img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.child_firma p{
    margin-bottom: 10px;
}

.child_firma a{
    font-size: 15px;
    color: #24caac;
    margin-bottom: 10px;
    transition: all .2s ease;
    display: inline-block;
}

.child_firma a:hover{
    color: #b80388;
    letter-spacing: 1px;
    cursor: pointer;
}


.child_firma h2{
    font-size: 15px;
}

/* iletisim */

.inner_iletisim{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    width: 80%;
    margin: 0px auto;
    
}

.iletisim_child{
    flex-basis: 48%;
}

.iletisim_child form{
    padding: 50px 50px;
    background: #061119;
    border-radius: 5px;
    
}

.iletisim_child form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #24292d;
    border: none;
    resize: none;
    border-radius: 10px;
    transition: all .2s ease;
    color: #a7a7a7;
}

.iletisim_child form input:focus{
    color: white;
    letter-spacing: 1px;
}

.iletisim_child form textarea:focus{
    color: white;
    letter-spacing: 1px;
}

.iletisim_child form input:last-child{
    background: #24caac;
    border: 1px solid transparent;
    color: #061119;
}

.iletisim_child form input:last-child:hover{
    background: transparent;
    border: 1px solid #24caac;
    color: #24caac;
    letter-spacing: 1px;
    cursor: pointer;
}

/* footer */

footer{
    color: white;
    background: #061119;
    text-decoration: none;
}

.inner_footer{
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    
    margin: 0px auto;
    width: 80%;
    align-items: top;
    
}

.child_footer{
    flex-basis: 20%;
    flex: 1;
    margin-bottom: 20px;
    padding: 10px 10px;
}

.child_footer h3{
    margin: 20px 0;
    display: flex;
}

.footer_contact li {
    display: flex;
    align-items: center;
    margin: 5px 0; /* Ortalamak yerine üst-alt boşluk bırakarak hizalama */
}

.footer_contact li i {
    margin-right: 5px;
}



.footer_sociaal{
    display: flex;
    margin-top: 10px;
}
.footer_sociaal li a {
    color: white;
    margin: 0 10px 0 0;
}


.quick_links li{
    margin-bottom: 5px;
}

.quick_links li a{
    color: white;
}

.child_footer form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #24292d;
    border: none;
    resize: none;
    border-radius: 10px;
    transition: all .2s ease;
    color: #a7a7a7;
}

.child_footer form input:focus{
    color: white;
    letter-spacing: 1px;
}

.child_footer form input:last-child{
    background: #24caac;
    border: 1px solid transparent;
    color: #061119;
}

.child_footer form input:last-child:hover{
    background: transparent;
    border: 1px solid #24caac;
    color: #24caac;
    letter-spacing: 1px;
    cursor: pointer;
}